
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo h2 {
    font-size: 22px;
}

.logo span {
    font-size: 12px;
    letter-spacing: 2px;
    color: gray;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-btn {
    padding: 10px 20px;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
}


.hero {
    height: 90vh;
    background:
        linear-gradient(rgba(0, 90, 150, 0.6), rgba(0, 90, 150, 0.6)),
        url("https://images.unsplash.com/photo-1503387762-592deb58ef4e");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
}

.hero p {
    margin: 20px 0;
    font-size: 14px;
    max-width: 600px;
}

.hero-btn {
    padding: 12px 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

