* {
  background-color: rgb(27, 27, 86);
  color: gold;
  margin: 5px;
  padding: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#text {
  background-color: rgb(27, 27, 60);
  font-size: 1.5rem;
  text-align: center;
  padding: 30px;
  margin-top:30px;
}
footer
{
    background-color: rgb(72, 72, 156);
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
}